body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.listing {
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -moz-column-rule: 1px solid black;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    -webkit-column-rule: 1px solid black;
}

.listing a {
    text-decoration: none;
}

.package-details {
    margin-top: 1em;
}

.package-details a.all-versions {
    font-size: 80%;
}

.package-details ul, p {
    margin-left: 20pt;
    margin-top: 5pt;
}

.footer {
    background-color: #ccc;
}
